section.b-cards 
    .b-cards--container.b-container 
        h2.b-cards__title.b-title.b-title-submain What we do to help our client grow in digital era,
        .b-cards__item
            .b-cards__item-img
                img(src="img/var2.png", alt="")
            .b-cards__item-text 
                h4 Make Your business To Be Better Famous In Internet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            a(href="javascript:void(0);").b-cards__item-link Learn more
        .b-cards__item
            .b-cards__item-img
                img(src="img/var2.png", alt="")
            .b-cards__item-text 
                h4 Make Your business To Be Better Famous In Internet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            a(href="javascript:void(0);").b-cards__item-link Learn more
        .b-cards__item
            .b-cards__item-img
                img(src="img/var2.png", alt="")
            .b-cards__item-text 
                h4 Make Your business To Be Better Famous In Internet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            a(href="javascript:void(0);").b-cards__item-link Learn more