section.b-reviews
    .b-reviews--container.b-container
        .b-reviews__text
            h2.b-reviews__text-title.b-title.b-title-submain Our Beloved Client
            p.b-reviews__text-desc.b-title.b-title-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.
        .b-reviews__items 
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 1
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 2
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 3
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 4
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 5
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 6
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 7
            a(href="javascript:void(0);").b-reviews__item
                p LOGO CLIENT 8
    footer.b-footer
        .b-footer--container.b-container
            .b-footer__top
                .b-footer__text
                    h2.b-footer__text-title.b-title.b-title-submain Intersted to work with our team?
                    p.b-footer__text-desc.b-title.b-title-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.
                .b-footer__btn
                    a(href="javascript:void(0);").b-btn.b-btn--footer.b-btn.b-title.b-title-desc.js-open-modal Let’s Talk
            span.b-footer__line
            .b-footer__bot
                .b-footer__nav 
                    .b-footer__col.b-footer__col--main
                        .b-footer__logo
                            +icon('logo')
                            h4 Afrianska
                        ol.b-footer__list.b-footer__list--main 
                            li.b-title.b-title-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            li.b-title.b-title-desc  
                                a(href="javascript:void(0);") +62-812-7313-4321
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") hello.afrian@gmail.com

                    .b-footer__col.b-footer__col--contacts
                        h4.b-title.b-title-footer About US
                        ul.b-footer__list.b-footer__list--contacts
                            li.b-title.b-title-desc  
                                a(href="javascript:void(0);") About
                            li.b-title.b-title-desc  
                                a(href="javascript:void(0);") What We Do
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") Project
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") How It Work With Us


                    .b-footer__col.b-footer__col--contacts
                        h4.b-title.b-title-footer Follow US
                        ul.b-footer__list.b-footer__list--contacts 
                            li.b-title.b-title-desc  
                                a(href="javascript:void(0);") Instagram
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") Facebook
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") Linkedin
                            li.b-title.b-title-desc
                                a(href="javascript:void(0);") Youtube
            p.b-footer__right.b-title.b-title-desc  2019 © Afrianska. All rights reserved.         
include ./footer-modals.pug
script(src="js/common.js")
