.b-bildboard {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
        opacity: 0.2;
        pointer-events: none;
    }

    @media screen and (min-width: 320px) {
        min-height: 550px;

        &__text {
            &--title {
                max-width: 510px;

            }

            &--desc {
                max-width: 425px;
                margin-top: 32px;
            }
        }

        &__img {
            display: none;
        }

        &--container {
            margin-top: 101px;
        }
    }
    @media screen and (min-width: 768px) {
        min-height: 768px;
    }
    @media screen and (min-width: 1230px) {
        min-height: 768px;
        &__img {
            display: unset;
            position: absolute;
            top: 0;
            right: 10px;
        }
    }

}