.b-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    width: fit-content;
    transition: all 0.2s ease-in-out;
    &--bildboard{
        margin-top: 71px;
        padding: 15px 48px;
    }
    &--footer{
        padding: 15px 74px;
        &:hover{
            opacity: 0.7;
        }
    }
    &:hover{
        transition: all 0.2s ease-in-out;
        opacity: 0.7;
    }
}