.b-header{
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    margin-top: 40px;
    @media screen and (min-width: 320px) {
        &__logo{
            svg{
                color: #316099;
                max-width: 48px;
                max-height: 32px;

            }
        }
        .b-burger {
            font-size: 0;
            &__btn {
                width: 23px;
                height: 19px;
                border: none;
                background: transparent;
                position: relative;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &:after,
                &:before,
                span {
                    width: 100%;
                    height: 3px;
                    border-radius: 1px;
                    position: absolute;
                    display: block;
                    background: #356EAD;
                }

                &:after,
                &:before {
                    content: "";
                    transition: 0.3s width 0.4s;
                }

                &:after {
                    top: 0px;
                    // left: 0px;
                    margin-top: 0px;
                }

                &:before {
                    bottom: 0px;
                    // right: 0px;
                    margin-bottom: 0px;
                }

                span {
                    top: 50%;
                    margin-top: -1px;
                    transition: transform 0.3s;

                    &:before {
                        content: "";
                        background: #356EAD;
                        width: 100%;
                        height: 3px;
                        border-radius: 1px;
                        position: absolute;
                        left: 0px;
                        transition: transform 0.3s;
                    }
                }

                &--active {
                    &:after {
                        transition: all 0.2s;
                        width: 0%;
                        left: 0px;
                    }

                    &:before {
                        transition: all 0.2s;
                        width: 0%;
                        right: 0px;
                    }

                    span {
                        transform: rotate(45deg);
                        transition: 0.3s transform 0.4s;

                        &:before {
                            transform: rotate(-90deg);
                            transition: 0.3s transform 0.4s;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        
    }

}