.b-popup {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;

    &--hidden {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
    }

    // display: none; /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */
    &__content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 540px;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: 10px;
        width: 95vw;
    }

    form {
        font-family: 'Gilroy', sans-serif;

        legend {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            margin-bottom: 48px;
            font-weight: 600;
        }

        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
        }

        input,
        textarea {
            opacity: 0.4;
            /* blue_03 */
            resize: none;
            border: 1px solid #356EAD;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 21px 41px;
            font-size: 16px;
            line-height: 30px;

            &::placeholder {
                color: #1F3F68;
            }
        }

        label {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;

        }

        .b-form__row {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    &__btn {
        width: auto;
        padding: 23px 0;

    }

    &__close {
        right: 34px;
        top: 19px;
        position: absolute;
        cursor: pointer;

        &:after {
            display: inline-block;
            content: "\00d7";
            /* This will render the 'X' */
        }
    }

    input.b-popup--error {
        border: 1px solid red;
    }
    @media screen and (min-width: 768px) {
        &__content {

            padding: 56px;
        }
    }

}