.b-reviews {
    overflow: hidden;
    background: #5A98D0;
    font-family: 'Gilroy', sans-serif;

    @media screen and (min-width: 320px) {
        &--container{
            margin-top: 50px;
            padding-bottom: 50px;
        }
        &__text {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__text {
            &-title {
                font-weight: 500;
                color: #fff;
                flex: 0 1 226px;
            }

            &-desc {
                color: #fff;
                flex: 0 1 540px;
            }
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            margin-top: 111px;
        }

        &__item {
            position: relative;
            flex: 1 1 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 41px 0;
            min-height: 128px;
            border: 1px solid ;

            p {
                font-size: 20px;
                line-height: 46px;
                color: #F2F2F2;
            }
            &::after{
                color: #fff;
                opacity: 0;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                transition: opacity 0.2s ease-in-out;
            }
            &:hover {
                opacity: 0.2;
                transition: opacity 0.2s ease-in-out;
                &::after{
                    background: rgba(31, 63, 104, 0.5);
                    opacity: 1;
                }
            }

        }
    }

    @media screen and (min-width: 768px) {
        border-radius: 200px 0px 0px 0px;
        &__item {
            position: relative;
            flex: 1 1 25%;
        }
        &__item{
            border: none;
            &:nth-child(1n+5){
                border-top: 1px solid rgba(255, 255, 255, 0.5);
            }
            &:nth-child(4n+2),
            &:nth-child(4n+3){
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                border-right: 1px solid rgba(255, 255, 255, 0.5);
                margin-left: -1px;
            }
            &:nth-child(4n+2){
                border-right: none;
            }

        }
        &--container {
            margin-top: 96px;
            padding-bottom: 125px;
        }

    }
}