.b-title {
    color: #1F3F68;

    @media screen and (min-width: 320px) {
        &-main {
            font-family: 'Galien', sans-serif;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.04em;
        }

        &-submain {
            font-family: 'Gilroy', sans-serif;
            font-size: 30px;
            line-height:36px;
            letter-spacing: 0.05em;
        }

        &-desc {
            font-family: 'Gilroy', sans-serif;
            font-size: 14px;
            line-height: 26px;
            letter-spacing: 0.05em;
        }
    }

    @media screen and (min-width: 768px) {
        &-main {
            font-size: 64px;
            line-height: 74px;
        }

        &-desc {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
        }

        &-footer {
            font-family: Gilroy;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            font-weight: 500;
        }
        &-submain {
            font-family: 'Gilroy', sans-serif;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.05em;
        }

    }
}