@media only screen and (max-width:1200px) {
    .center {
        padding-left: calc(50% - 460px);
        padding-right: calc(50% - 460px);
    }
    .container {
        max-width: 940px;
    }
    .display {
        display: none;
    }
    .works__card {
        flex: none;
        width: 38%;
    }
    .works__bot {
        justify-content: center;
        margin: 0;
    }
    .footer {
        margin-top: 70px;
    }
    .text__footer {
        bottom: -2429px;
    }
    .footer__tabs {
        margin-right: 40px;
    }
    .display__phone2 {
        display: block;
    }
    .header__man{
        align-self: flex-end;
    }

}

@media only screen and (max-width:992px) {
    .center {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);
    }
    .container {
        max-width: 720px;
    }
    .nav__list {
        display: none;
    }
    .container__advant {
        max-width: 717px;
    }
    .advant__cardlist {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advant__card {
        min-width: 250px;
        margin-top: 40px;
    }
    .advant__cardlist img {
        display: block;
        margin: 0 auto;
        height: 80%;
    }
    .advant-title {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .services .btn {
        padding: 10px 50px;
    }
    .header__main{
        align-items: center;
    }
    .header__man{
        align-self: flex-end;
    }
    .info__siding{
        margin-top: 0px;
    }
    .header-phone__footer {
        display: none;
    }

    .footer__tabs {
        margin-right: 0;
    }
    .text__services{
        bottom: -544px;
    }
    .text__works{
        bottom: -1383px;
    }
    .text__reviews{
        bottom: -2058px;
    }
    .text__footer{
        bottom: -2557px;
    }
}

@media only screen and (max-width:768px) {
    .center {
        padding-left: calc(50% - 145px);
        padding-right: calc(50% - 145px);
    }

    .display__phone {
        display: none;
    }
    .container {
        max-width: 290px;
    }
    .form__input {
        border-radius: 5px;
        width: 100%;
        height: 50px;
    }
    .container__form {
        max-width: 290px;
        margin: 0 auto;
    }
    .info__siding {
        margin-top: 50px;
        text-align: center;
    }
    .siding__main {
        font-size: 25px;
    }
    .siding__main__bot {
        font-size: 18px;
    }
    .siding__desc {
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .header__nav {
        display: none;
    }
    .header {
        height: 100vh;
    }
    .header__man{
        align-self: center;
    }
    .header__main{
        flex-direction: column;
        align-items: center;
    }
    .header__top {
        height: 100%;
    }

    .container__advant {
        max-width: 717px;
    }
    .advant__cardlist {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advant__card {
        min-width: 250px;
        margin-top: 40px;
    }
    .advant__cardlist img {
        display: block;
        margin: 0 auto;
        height: 60%;
    }
    .advant-title {
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .text__advant {
        bottom: -78px;
    }
    .btn {
        padding: 11px 60px;
    }
    .siding__desc {
        font-size: 15px;
        width: auto;
    }
    .list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cart {
        width: 290px;
        margin-top: 30px;
    }
    .text {
        margin-bottom: 0;
    }
    .text__services {
        bottom: -771px;
    }
    .form {
        height: auto;
        padding: 40px 0;
    }
    .form__input {
        margin-bottom: 15px;
    }
    .text__works {
        bottom: -2263px;
    }
    .works__card {
        height: 206px;
        width: 288px;
        flex: none;
    }
    .works__bot {
        justify-content: center;
        margin: 0;
    }
    .slide {
        width: 100%;
    }
    .works__slider {
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }
    .display {
        display: none;
    }
    .reviews__card {
        margin-top: 80px;
    }
    .text__reviews {
        bottom: -3443px;
    }
    .footer__textarea {
        height: 120px;
    }
    .footer__form {
        max-width: 290px;
    }
    .footer__content {
        flex-direction: column-reverse;
    }
    .footer__btn {
        width: 100%;
    }
    .footer__tabs {
        width: 100%;
        text-align: center;
    }
    .footer__tablist {
        text-align: center;
    }
    .text__footer {
        bottom: -3956px;
    }
    .reviews__list a {
        display: none;
    }
}

@media only screen and (max-width:317px) {}