* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.blue {
  background-color: #F16D7F;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box {
  position: relative;
  overflow: hidden;
}

.header {
  background: #222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link:not(:last-child) {
  margin-right: 33px;
}

.header__search {
  margin-left: 41px;
}

.switcher {
  position: absolute;
  right: -232px;
  top: 75px;
  width: 232px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: 1;
  padding: 34px;
}

.switcher__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}

.switcher__subtitle {
  font-family: sans-serif;
  font-size: 16px;
  color: #F16D7F;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 12px;
}

.switcher__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.switcher__link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 10px;
}

.switcher__item {
  list-style-type: none;
}

.switcher__item:not(:last-child) {
  margin-bottom: 11px;
}

#switcher {
  display: none;
}

#switcher:checked ~ .switcher {
  right: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.section {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.section__man {
  width: 50%;
}

.section__photo {
  width: 100%;
}

.section__decription {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  height: 100%;
  margin-top: 17%;
  margin-left: 3%;
}

.section__h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222;
  text-transform: uppercase;
}

.section__h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #222;
  text-transform: uppercase;
}

.main {
  padding-top: 65px;
  padding-bottom: 96px;
}

.main__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
}

.main__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.main__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.main__bot {
  background-image: url(../images/item4.png);
  background-position: center;
  height: 180px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main__bot:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item1 {
  background-image: url(../images/item1.png);
  background-size: cover;
}

.item2 {
  background-image: url(../images/item2.png);
  background-size: cover;
}

.item3 {
  background-image: url(../images/item3.png);
  background-size: cover;
}

.fetured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured__title {
  text-align: center;
  padding-bottom: 48px;
}

.fetured__text {
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

.fetured__desc {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
}

.fetured-item {
  width: 360px;
  position: relative;
}

.fetured-item__bottom {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 29px;
  background: #F8F8F8;
}

.fetured__photo {
  width: 100%;
}

.fetured-item:hover .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured-item:hover .fetured__photo {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.fetured-item_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fetured-item__title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.fetured-item__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 13px;
  padding-bottom: 18px;
  color: #5D5D5D;
}

.fetured-item__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.fetured__btn {
  text-decoration: none;
  display: inline-block;
  padding: 14px 38px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  margin: 63px auto 83px;
}

.fetured__btn:hover {
  background: #F16D7F;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn {
  width: 138px;
  height: 43px;
  display: none;
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  gap: 10px;
  text-decoration: none;
  top: 188px;
  left: 111px;
  padding-left: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.advantages {
  padding: 104px 0;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantages-item {
  width: 350px;
  text-align: center;
  padding: 20px;
}

.advantages-item_title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.advantages-item__description {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.footer {
  height: 448px;
  background-image: url(../images/footerbg.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: sans-serif;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.footer__left, .footer__right {
  width: 50%;
  text-align: center;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__avatar {
  margin-bottom: 30px;
}

.footer__desc {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222;
}

.footer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222;
}

.footer__input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border: none;
  border-radius: 13px 0 0 13px;
  padding: 0 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222;
  opacity: 0.67;
}

.footer__btn {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 0 14px 14px 0;
  background: #F16D7F;
  padding: 15px 8px;
  border: none;
  cursor: pointer;
}

.footer__subarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.allright {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #222;
}

.allright__contact li {
  list-style-type: none;
}

.allright__title {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.svg:hover .svg__bg {
  fill: #F16D7F;
}

.svg:hover .svg__text {
  fill: #fff;
}

.svg__ret:hover .ret__text {
  fill: #fff;
}

.svg__ret:hover > .ret__bg {
  fill: #F16D7F;
}

.svg__inst:hover .inst__bg {
  fill: #F16D7F;
}

.svg__inst:hover .inst__text {
  fill: #fff;
}

.svg__tw:hover .tw__bg {
  fill: #F16D7F;
}

.svg__tw:hover .tw__text {
  fill: #fff;
}

summary {
  outline: none;
}

a {
  text-decoration: none;
}

a__main {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.nav {
  background: #F8F3F4;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__main {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.nav__link:last-child a {
  color: #F16D7F;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li:not(:last-child)::after {
  content: "/";
  padding: 0 8px;
}

.nav__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}

.filter__details[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter {
  width: 360px;
  position: relative;
}

.filter__summary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 11px;
}

.filter__details {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  position: absolute;
  width: 360px;
  margin-top: 39px;
  padding: 16px;
}

.filter__details[open] {
  background: #FFFFFF;
}

.filter__details[open] .filter__summary {
  color: #F16D7F;
}

.filter__details[open] path {
  fill: #F16D7F;
}

.filter__details-in {
  margin-top: 16px;
}

.filter__details-in[open] .filter__heading-in {
  color: #F16D7F;
}

.filter__summary-in {
  border-left: 5px solid #F16D7F;
}

.filter__heading-in {
  padding: 8px 0 11px 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
}

.filter__ul {
  list-style-type: none;
  padding-left: 17px;
  padding-top: 24px;
}

.filter__ul a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.fetured-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.fetured-filter__text {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin-right: 11px;
}

.fetured-filter__right {
  width: 360px;
  margin-top: 51px;
  margin-bottom: 64px;
}

.fetured-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.fetured-filter a:not(:first-child) {
  margin-left: 28px;
}

.fetured-filter__item {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture-filter__ico {
  margin-left: 10px;
}

.pagination {
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px auto 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 12px;
  color: #EBEBEB;
}

.pagination__link:hover {
  color: #EF5B70;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.select {
  position: relative;
  z-index: 1;
  color: #6F6E6E;
}

.select span {
  cursor: pointer;
}

.select .select > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 14px;
  color: #6F6E6E;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.spisok input {
  margin-right: 8px;
}

.select:hover .spisok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feture-filter__ico {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 3px;
}

.select:hover .feture-filter__ico {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.spisok {
  padding: 6px;
  color: #6F6E6E;
  min-width: 79px;
  display: none;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  overflow: auto;
  font-size: 14px;
}

.spisok span {
  padding: 8px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.spisok__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-slider {
  background: #F7F7F7;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -4%;
}

.product-slider__box {
  max-width: 46%;
}

.product-slider__model {
  width: 100%;
}

.product-slider__line {
  display: block;
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
  margin: 65px 0;
}

.slider-desc {
  border: 1px solid #EAEAEA;
  margin: 0 auto;
  height: 600px;
  width: 1140px;
  background: #fff;
  margin-bottom: 128px;
  padding: 64px;
  text-align: center;
}

.slider-desc__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}

.slider-desc__header {
  font-family: sans-serif;
  font-size: 14px;
  color: #F16D7F;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.slider-line {
  display: inline-block;
  width: 63px;
  border: 2px solid #F16D7F;
  margin-top: 12px;
  margin-bottom: 12px;
}

.desc-bottom {
  width: 645px;
  margin: 0 auto;
}

.desc-bottom__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.desc-bottom__item2 {
  max-width: 570px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px auto 32px;
}

.desc-bottom__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 212px;
  height: 48px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product__btn svg {
  margin: 0 28px;
}

.product__btn:hover {
  background-color: #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.product__btn:hover svg path {
  fill: #fff;
}

.mt120 {
  margin-top: 120px;
}

.cart {
  margin: 96px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 57%;
}

.cart__item svg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart svg:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.cart__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__textbox {
  padding: 22px 31px;
  width: 100%;
}

.cart svg {
  position: absolute;
  right: 22px;
  top: 28px;
}

.cart__title {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 70%;
  font-weight: 300;
}

.cart__text {
  margin-top: 42px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart p:not(:last-child) {
  margin-bottom: 6px;
}

.cart__btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 42px;
}

.cart__btn {
  width: 235px;
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #A4A4A4;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.cart__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #F16D7F;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #F16D7F;
}

.cart-payform {
  width: 360px;
  height: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

.cart-payform__bot {
  height: 214px;
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-payform__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 306px;
}

.cart-payform__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 10px;
}

.cart-payform__input {
  height: 45px;
  border: 1px solid #A4A4A4;
  margin: 10px 0;
  padding: 0 17.5px;
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
}

.price-text, .color-text, .size-text, .quantity-text {
  font-size: 22px;
  line-height: 26px;
  color: #EF5B70;
}

.color-text, .size-text, .quantity-text {
  color: #6F6E6E;
}

.total__btn, .reg__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 273px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F16D7F;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.total__btn:hover, .reg__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.payform__btn {
  width: 100px;
  height: 35px;
  border: 1px solid #A4A4A4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-top: 10px;
}

.payform__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #F16D7F;
  color: #fff;
  border: 1px solid #F16D7F;
}

.payform_text {
  text-align: end;
  width: 283px;
  height: 63px;
}

.pay__line {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  margin-bottom: 17px;
}

.pay__grand {
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  color: #222222;
}

.total__price, .pay__total {
  font-size: 11px;
  line-height: 13px;
  margin-left: 20px;
  color: #4A4A4A;
}

.grand__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 20px;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 64px;
}

.reg__forms {
  width: 360px;
}

.reg__btn {
  width: 167px;
  margin-bottom: 96px;
}

.reg__list {
  margin: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg__list input {
  margin-right: 10px;
}

.reg__list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.reg__list label:not(:last-child) {
  margin-right: 20px;
}

.reg__itemform {
  min-height: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reg__rules {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 10px 0 39px;
}

.reg-about {
  width: 50%;
}

.reg-about__title {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-about__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 21px 0;
}

.reg-about__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-position: inside;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reg-about__list svg {
  margin-right: 22px;
}

.reg-about__item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-about__item:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1023px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .section__h1 {
    font-size: 44px;
    line-height: 53px;
  }
  .section__h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .main__item {
    height: 167px;
  }
  .fetured__list {
    gap: 16px;
  }
  .fetured__title {
    padding-bottom: 72px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    height: auto;
    padding: 64px 0 109px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__left, .footer__right {
    width: 245px;
  }
  .footer__right {
    margin-top: 59px;
  }
  .allright {
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .allright__contact {
    margin: 38px 0;
  }
  .pagination {
    margin: 48px auto 63px;
  }
  .product-slider {
    height: auto;
    margin-bottom: 0;
  }
  .product-slider__box {
    max-width: 100%;
  }
  .slider-desc {
    width: auto;
  }
  .dn768 {
    display: none;
  }
  .product-slider__line {
    width: auto;
  }
  .desc-bottom {
    width: auto;
  }
}

@media (max-width: 374px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }
  .section {
    height: 363px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__decription {
    margin: 0 auto;
    height: auto;
  }
  .section__man {
    display: none;
  }
  .section__h1 {
    font-size: 38px;
    line-height: 46px;
  }
  .section__h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .header__link:not(:last-child) {
    margin: 0;
  }
  .header__right a:not(:first-child) {
    display: none;
  }
  .main {
    padding-bottom: 0;
  }
  .main__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__item {
    height: 260px;
  }
  .main__bot {
    height: 111px;
  }
  .fetured__title {
    padding: 64px 0;
  }
  .footer {
    height: auto;
    padding: 64px 0 109px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__left, .footer__right {
    width: auto;
  }
  .footer__right {
    margin-top: 59px;
  }
  .allright {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 9px;
  }
  .allright__contact {
    margin: 38px 0;
  }
}
/*# sourceMappingURL=style.css.map */